registry=https://pkgs.dev.azure.com/rchlo-omni/ab336271-b570-44be-82af-afbfe3a53bd3/_packaging/omnichannel/npm/registry/

always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 24/02/2020.
; begin auth token
//pkgs.dev.azure.com/rchlo-omni/ab336271-b570-44be-82af-afbfe3a53bd3/_packaging/omnichannel/npm/registry/:username=rchlo-omni
//pkgs.dev.azure.com/rchlo-omni/ab336271-b570-44be-82af-afbfe3a53bd3/_packaging/omnichannel/npm/registry/:_password=cmJvZ2ttZm1lcmU3bHdva2lnYWZ5dW93N3ZtbnNzN3Rza251c3BwNXV1Y21saWliNnhkYQ==
//pkgs.dev.azure.com/rchlo-omni/ab336271-b570-44be-82af-afbfe3a53bd3/_packaging/omnichannel/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/rchlo-omni/ab336271-b570-44be-82af-afbfe3a53bd3/_packaging/omnichannel/npm/:username=rchlo-omni
//pkgs.dev.azure.com/rchlo-omni/ab336271-b570-44be-82af-afbfe3a53bd3/_packaging/omnichannel/npm/:_password=cmJvZ2ttZm1lcmU3bHdva2lnYWZ5dW93N3ZtbnNzN3Rza251c3BwNXV1Y21saWliNnhkYQ==
//pkgs.dev.azure.com/rchlo-omni/ab336271-b570-44be-82af-afbfe3a53bd3/_packaging/omnichannel/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
